<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ionic.todo" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HelloWorld</name>
    <description>
      A simple Ionic Framework TODO demo app
    </description>
    <author email="max@drifty.com" href="http://drifty.com">
      Drifty
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
</widget>
