body {
  background: url('../img/bg-ex.jpg') no-repeat transparent;
  background-size: cover;
}
.content {
  background-color: transparent;
}
label {
  background-color: rgba(255, 255, 255, 0.6);
}
input {
  background-color: transparent !important;
}
/*
#signup-button {
  position: fixed;
  bottom: 10px;
  z-index: 4;
  width: auto;
  left: 10px;
  right: 10px;
}
*/
.pane {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.reveal-animation {
  /*
  -webkit-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);

 -webkit-transition: -webkit-transform 1s ease-in-out;
         transition:         transform 1s ease-in-out;
  */
}
.reveal-animation > * {
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  display: none;
}
.reveal-animation > .ng-enter {
  display: block;
  -webkit-transform:translateX(100%);
  -webkit-transition: 4s ease-in-out all;
}
.reveal-animation > .ng-enter-active {
  -webkit-transform:translateX(0);
}
.reveal-animation > .ng-leave {
  -webkit-transition: 4s ease-in-out all;
  -webkit-transform:translateX(0);
}
.reveal-animation > .ng-leave-active {
  -webkit-transition: 4s ease-in-out all;
  -webkit-transform:translateX(-100%);
}
